*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, rgba(99, 32, 125, 0.7), rgba(99,32,125,0.5)),
                url('../imagens/empresa.jpg') no-repeat center center/cover;

}
.container{
    background-color: beige; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
}